<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <title>Parcial_I</title>
</head>
<body>
    <div class="container" id="app">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card border-primary" style="top: 30px; left: 52%;">
                    <div class="card-header bg-dark text-white">REGISTRO DE AUTORES</div>
                    <div class="card-body">
                        <form id="frmAutor" @submit.prevent="guardarAutor" @reset.prevent="nuevoAutor()">
                            <div class="row p-1">
                                <div class="col-3 col-md-4">Codigo:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="autor.codigo" placeholder="Escriba su Codigo" required>
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-4">Nombre:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="autor.nombre" placeholder="Escriba su Nombre" required>
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-4">Pais:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="autor.pais" name="txtPaisAutor"
                                    id="txtPaisAutor" placeholder="Escriba su Pais" required>
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-4">Telefono:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="autor.telefono" name="txtTelefonoAutor"
                                    id="txtTelefonoAutor" placeholder="Escriba su numero de telefono" required>
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col col-md-6">
                                    <input class="btn btn-success" type="submit" value="Guardar Datos">
                                </div>
                                <div class="col col-md-6">
                                    <input class="btn btn-warning" type="reset" value="Nuevo Registro">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10"><br>
            <div class="card text-bg-light" style="left: 10%; margin-top: 3%; border-radius: 15px;">
                <div class="card-header">CONSULTA DE AUTORES</div>
                <div class="card-body">
                    <form>
                        <table class="table table-hover table-hover" style="background: #eff4ff;">
                            <thead>
                                <tr>
                                    <th>BUSCAR:</th>
                                    <th colspan="10"><input type="text" @keyup="listarAutor()" v-model="buscar" 
                                        class="form-control" placeholder="Busar por su nombre" ></th>
                                </tr>
                                <tr>
                                    <th>Codigo</th>
                                    <th colspan="2">Nombre</th>
                                    <th>Pais</th>
                                    <th>Telefono</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="autor in autores" @click='modificarAutor(autor)' :key="autor.idAutor">
                                    <td>{{autor.codigo}}</td>
                                    <td>{{autor.nombre}}</td>
                                    <td>{{autor.pais}}</td>
                                    <td>{{autor.telefono}}</td>
                                    <td><button @click.prevent="eliminarAutor(autor)" class="btn btn-danger">Eliminar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue;
            createApp({
                data() {
                    return {
                        buscar: '',
                        autores:[],
                        accion : 'nuevo',
                        autor:{
                            codigo:'',
                            nombre:'',
                            pais:'',
                            telefono:''
                            
                        }
                    }
                },
                methods:{
                    nuevoAutor(){
                        this.accion = 'nuevo';
                        this.autor.idAutor = '';
                        this.autor.codigo = '';
                        this.autor.nombre = '';
                        this.autor.direccion = '';
                        this.autor.telefono = '';
                       
                    },
                    modificarAutor(autor){
                        this.accion = 'modificar';
                        this.autor = autor;
                    },
                    guardarAutor(){
                        this.listarAutores();
                        if( this.accion==='nuevo' ){
                            this.autor.idAutor = new Date().getTime().toString(16);
                            this.autores.push( JSON.parse(JSON.stringify(this.autor)) );
                        }else if(this.accion==='modificar'){
                            
                            let index = this.autores.findIndex(autor=>autor.idAutor==this.autor.idAutor);
                            this.autores[index] = JSON.parse(JSON.stringify(this.autor));
                        }else if(this.accion==='eliminar'){
                            let index = this.autores.findIndex(autor=>autor.idAutores==this.autor.idAutor);
                            this.autores.splice(index, 1);
                        }
                        localStorage.setItem('autores', JSON.stringify(this.autores));
                        this.nuevoAutor();
                    },
                    eliminarAutor(autor){
                        if( confirm(`Esta seguro de eliminar este autor ${autor.nombre}?`) ){
                            this.accion="eliminar";
                            this.autor = autor;
                            this.guardarAutor();
                        }
                    },
                    listarAutores(){
                        this.autores = JSON.parse( localStorage.getItem('autores') || "[]" )
                            .filter(autor=>autor.nombre.toLowerCase().indexOf(this.buscar.toLowerCase())>-1);
                    }
                },
                created(){
                    this.listarAutores();
                }
            }).mount('#app')
        </script>
</body>
</html>