<!DOCTYPE html>                                             <!-- Definicion de tipo de documento -->
<html lang="en">                                            <!-- Apertura de la pagina html -->
<head>                                                      <!-- Encabezado de la pagina html -->
    <meta charset="UTF-8">                                  <!-- Codificacion de Caracteres especiales  -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   <!-- IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <script src="main.js"></script>
    <title>::.. APP ACADEMICA ..::</title>
</head>
<body style="background: #f7f8f9e7;"><!-- Contenido de la pagina html -->
    <div class="container" id="app">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card border-primary" style="top: 30px; left: 52%;">
                    <div class="card-header bg-dark text-white">REGISTRO DE ALUMNOS</div>
                    <div class="card-body">
                        <form id="frmAlumno" @submit.prevent="guardarAlumno" @reset.prevent="nuevoAlumno()">
                            <div class="row p-1">
                                <div class="col-3 col-md-4">Codigo:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="alumno.codigo" pattern="[A-Z0-9 ]+" title="Escriba las letras en mayusculas"
                                    name="txtCodigoAlumno" id="txtCodigoAlumno" placeholder="Escriba su codigo de estudiante" required>
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-4">Nombre:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="alumno.nombre" name="txtNombreAlumno" 
                                    id="txtNombreAlumno" pattern="[A-Za-zÑñáéíóú ]{3,50}" placeholder="Escriba su nombre" required>
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-4">Direccion:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="alumno.direccion" name="txtDireccionAlumno"
                                    id="txtDireccionAlumno" placeholder="Escriba su Direccion" required>
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-4">Municipio:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="alumno.municipio" name="txtMunicipioAlumno" 
                                    id="txtMunicipioAlumno" placeholder="Escriba su Municipio" required>
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-4">Departamento:</div>
                                <div class="col-9 col-md-6">
                                    <select id="txtDepartamentoAlumno" required class="form-select" v-model="alumno.departamento" name="txtDepartamentoAlumno">
                                        <option selected="">...</option>
                                        <option value="Ahuachapan">Ahuachapan</option>
                                        <option value="Santa Ana">Santa Ana</ption>
                                        <option value="Sonsonate">Sonsonate</option>
                                        <option value="La Libertad">La Libertad</option>
                                        <option value="Chalatenango">Chalatenango</option>
                                        <option value="Cuscatlan">Cuscatlan</option>
                                        <option value="San Salvador">San Salvador</option>
                                        <option value="La Paz">La Paz</option>
                                        <option value="Cabañas">Cabañas</option>
                                        <option value="San Vicente">San Vicente</option>
                                        <option value="Usulutan">Usulutan</option>
                                        <option value="San Miguel">San Miguel</option>
                                        <option value="Morazan">Morazan</option>
                                        <option value="La Union">La Union</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-4">Telefono:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="alumno.telefono" name="txtTelefonoAlumno" 
                                    id="txtTelefonoAlumno" pattern="[0-9]+" placeholder="Escriba su numero de telefono" required>
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-4">Fecha de Nacimiento:</div>
                                <div class="col-9 col-md-6">
                                    <input type="date" class="form-control" v-model="alumno.fechanacimiento" name="txtFechanacimientoAlumno" 
                                    id="txtFechanacimientoAlumno" placeholder="Seleccione su fecha de nacimiento" required>
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-4">Sexo:</div>
                                <div class="col-9 col-md-6">
                                <select id="txtSexoAlumno" required class="form-select" v-model="alumno.sexo" name="txtSexoAlumno">
                                    <option selected="">...</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</ption>
                                    </select>
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col col-md-6">
                                    <input class="btn btn-success" type="submit" value="Guardar Datos">
                                </div>
                                <div class="col col-md-6">
                                    <input class="btn btn-warning" type="reset" value="Nuevo Registro">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-10"><br>
                <div class="card text-bg-light" style="left: 10%; margin-top: 3%;">
                    <div class="card-header">CONSULTA DE ALUMNOS</div>
                    <div class="card-body">
                        <form>
                            <table class="table table-dark table-hover">
                                <thead>
                                    <tr>
                                        <th>BUSCAR:</th>
                                        <th colspan="10"><input type="text" @keyup="listarAlumno()" v-model="buscar" 
                                            class="form-control" placeholder="Busar por nombre" ></th>
                                    </tr>
                                    <tr>
                                        <th>CODIGO</th>
                                        <th>NOMBRE</th>
                                        <th>DIRECCION</th>
                                        <th>MUNICIPIO</th>
                                        <th>DEPARTAMENTO</th>
                                        <th>TELEFONO</th>
                                        <th colspan="2">FECHA DE NACIMIENTO</th>
                                        <th colspan="2">SEXO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="alumno in alumnos" @click='modificarAlumno(alumno)' :key="alumno.idAlumno">
                                        <td>{{alumno.codigo}}</td>
                                        <td>{{alumno.nombre}}</td>
                                        <td>{{alumno.direccion}}</td>
                                        <td>{{alumno.municipio}}</td>
                                        <td>{{alumno.departamento}}</td>
                                        <td>{{alumno.telefono}}</td>
                                        <td colspan="2">{{alumno.fechanacimiento}}</td>
                                        <td>{{alumno.sexo}}</td>
                                        <td><button @click.prevent="eliminarAlumno(alumno)" class="btn btn-danger">Eliminar</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    buscar: '',
                    alumnos:[],
                    accion : 'nuevo',
                    alumno:{
                        idAlumno:0,
                        codigo:'',
                        nombre:'',
                        direccion:'',
                        municipio:'',
                        departamento:'',
                        telefono:'',
                        fechanacimiento:'',
                        sexo:''
                    }
                }
            },
            methods:{
                nuevoAlumno(){
                    this.accion = 'nuevo';
                    this.alumno.idAlumno = '';
                    this.alumno.codigo = '';
                    this.alumno.nombre = '';
                    this.alumno.direccion = '';
                    this.alumno.municipio = '';
                    this.alumno.departamento = '';
                    this.alumno.telefono = '';
                    this.alumno.fechanacimiento = '';
                    this.alumno.sexo = '';
                },
                modificarAlumno(alumno){
                    this.accion = 'modificar';
                    this.alumno = alumno;
                },
                guardarAlumno(){
                    this.listarAlumno();
                    if( this.accion==='nuevo' ){
                        this.alumno.idAlumno = new Date().getTime().toString(16);//las cantidad milisegundos y lo convierte en hexadecimal
                        this.alumnos.push( JSON.parse(JSON.stringify(this.alumno)) );
                    }else if(this.accion==='modificar'){
                        //hacer la busqueda y modificar el registro
                        let index = this.alumnos.findIndex(alumno=>alumno.idAlumno==this.alumno.idAlumno);
                        this.alumnos[index] = JSON.parse(JSON.stringify(this.alumno));
                    }else if(this.accion==='eliminar'){
                        let index = this.alumnos.findIndex(alumno=>alumno.idAlumno==this.alumno.idAlumno);
                        this.alumnos.splice(index, 1);
                    }
                    localStorage.setItem('alumnos', JSON.stringify(this.alumnos));
                    this.nuevoAlumno();
                },
                eliminarAlumno(alumno){
                    if( confirm(`Esta seguro de eliminar el alumno ${alumno.nombre}?`) ){
                        this.accion="eliminar";
                        this.alumno = alumno;
                        this.guardarAlumno();
                    }
                },
                listarAlumno(){
                    this.alumnos = JSON.parse( localStorage.getItem('alumnos') || "[]" )
                        .filter(alumno=>alumno.nombre.toLowerCase().indexOf(this.buscar.toLowerCase())>-1);
                }
            },
            created(){
                this.listarAlumno();
            }
        }).mount('#app')
    </script>
</body>
</html>
